Output/
_superseded/
DesignModels/

# Hazard analysis generated folders
HazardAnalysis/CS_Selection/
HazardAnalysis/GM_Comparative/
HazardAnalysis/gm-selection/2020_NBC_MyCopy_new-main/Database/KiK_NET_meta_data_surface.mat
HazardAnalysis/gm-selection/2020_NBC_MyCopy_new-main/Database/NGA_W2_meta_data.mat

ResilienceModule/
randomPractice/
masterCopy.xlsx

*.asv
~$*.xls
~$*.xlsx
~$*.xlsm